.keys-grid-container {
    padding: 0px;
}

.keys-spacer {
    padding: 0px;
    height: 300px;
}

.keys-grid-element {
    float: left;
    margin: 0.1%;
}

.slider-big {
    width: 300px;
}

.select-big {
    width: 300px;
}